.form{
    margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  background-color: white;
  padding: 2rem;
  border: 4px solid #00bfff;
  border-radius: 12px;
  margin-bottom: 8rem;
  box-shadow: rgb(0,0,0,0.25);
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
}



.form label{
    display: block;
    font-weight: bolder;
    margin-bottom: .5rem;
    font-size: 20px;

}

.form input{
    width: 100%;
    margin-bottom: .5rem;
    padding: .5rem;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #00bfff;
}

.form input:active{
  border-color: #00bfff;
}



.form button{ 
  font: inherit;
  cursor: pointer;
  background-color: #00bfff;
  border: 2px solid #00bfff;
  color: white;
  padding: 0.75rem 2rem; 
  /* border-radius: 20px; */
  font-weight: bold;
  margin: 0 auto;
}


.form button:hover,
.form button:active {
  background-color: #0ea7db;
  border-color: #0ea7db;
}

.form textarea{
  width: 100%;
  border:2px solid #00bfff;
}

 h1{
  color: #00bfff;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  margin-top: 1rem;
}